:root {
  --tx__square: 1/1;
  --tx__video: 16/9;
  --tx__current-color: currentColor;
  --tx__avoid-page: avoid-page;
  --tx__avoid-column: avoid-column;
  --tx__border-box: border-box;
  --tx__content-box: content-box;
  --tx__padding-box: padding-box;
  --tx__inline-start: inline-start;
  --tx__inline-end: inline-end;
  --tx__inline-block: inline-block;
  --tx__inline-flex: inline-flex;
  --tx__inline-table: inline-table;
  --tx__table-caption: table-caption;
  --tx__table-cell: table-cell;
  --tx__table-column: table-column;
  --tx__table-column-group: table-column-group;
  --tx__table-footer-group: table-footer-group;
  --tx__table-header-group: table-header-group;
  --tx__table-row-group: table-row-group;
  --tx__table-row: table-row;
  --tx__flow-root: flow-root;
  --tx__list-item: list-item;
  --tx__scale-down: scale-down;
  --tx__left-bottom: left bottom;
  --tx__left-top: left top;
  --tx__right-bottom: right bottom;
  --tx__right-top: right top;
  --tx__row-reverse: row-reverse;
  --tx__column-reverse: column-reverse;
  --tx__wrap-reverse: wrap-reverse;
  --tx__space-between: space-between;
  --tx__space-around: space-around;
  --tx__space-evenly: space-evenly;
  --tx__flex-start: flex-start;
  --tx__flex-end: flex-end;
  --tx__min-content: min-content;
  --tx__max-content: max-content;
  --tx__fit-content: fit-content;
  --tx__slashed-zero: slashed-zero;
  --tx__lining-nums: lining-nums;
  --tx__oldstyle-nums: oldstyle-nums;
  --tx__proportional-nums: proportional-nums;
  --tx__tabular-nums: tabular-nums;
  --tx__diagonal-fractions: diagonal-fractions;
  --tx__stacked-fractions: stacked-fractions;
  --tx__from-font: from-font;
  --tx__webkit-box: -webkit-box;
  --tx__text-top: text-top;
  --tx__text-bottom: text-bottom;
  --tx__pre-line: pre-line;
  --tx__pre-wrap: pre-wrap;
  --tx__break-spaces: break-spaces;
  --tx__break-word: break-word;
  --tx__break-all: break-all;
  --tx__keep-all: keep-all;
  --tx__no-repeat: no-repeat;
  --tx__repeat-x: repeat-x;
  --tx__repeat-y: repeat-y;
  --tx__color-dodge: color-dodge;
  --tx__color-burn: color-burn;
  --tx__hard-light: hard-light;
  --tx__soft-light: soft-light;
  --tx__plus-darker: plus-darker;
  --tx__plus-lighter: plus-lighter;
  --tx__font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tx__font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --tx__font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --tx__shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tx__shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tx__shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tx__shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tx__shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tx__shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tx__shadow-none: 0 0 #0000;
  --tx__cubix-bez: cubic-bezier(0.4, 0, 0.2, 1);
  --tx__ease-in: cubic-bezier(0.4, 0, 1, 1);
  --tx__ease-out: cubic-bezier(0, 0, 0.2, 1);
  --tx__ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --tx__tr-prop: color, background-color, border-color, text-decoration-color,
    fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  --tx__tr-color: color, background-color, border-color, text-decoration-color;
  --tx__bs: box-shadow;
}
